{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}



  <div class="container mt-2">
      <div class="row">
        <div class="col- mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
          <div class="profile p-4" style="white-space:nowrap">
            <h2>Hello passenger, where are we headed today?</h2>
          </div>
        </div>
      </div>

      <table style="width:95%;">
        <tbody>
          <tr>
            <td style="width: 25%;">       <form action="#">
                  <input type="submit" value="Book a ride" />
              </form>                  </td>
            <br>
            <br>
            <br>
            <td style="width: 25%;">         <form action="{% url 'passengerdetails' %}">
                  <input type="submit" value="edit prof" />
              </form>             </td>
            <br>
            <br>
            <br>
            <td style="width: 25%;">  <form action="#">
                  <input type="submit" value="xxx" />
              </form>  </td>
              <br>
              <br>
              <br>
              <td >   <form action="#">
                    <input type="submit" value="xxx" />
                </form> </td>

          </tr>

        </tbody>

{% endblock %}
